* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: linear-gradient(271deg, #3c2429 0%, #281e1f 100%);
  color: #ffffff;
}

.page {
  position: relative;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(90deg, #3A3032 5.15%, #181112 89.49%);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__menu {
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  padding: 36px 0;
  z-index: 2;
}

.menu__box {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(31px);
  box-shadow: 5.4px 7.4px 13px 10px rgba(0, 0, 0, 0.25), -4px -3px 11px -6px rgb(255, 255, 255, 0.5), inset 1px 1.8px 2px rgba(0, 0, 0, 0.1), inset 1px 1.8px 2px rgba(255, 255, 255, 0.3), inset -1px -1.8px 2px rgba(0, 0, 0, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.13);
  padding: 25px;
  overflow: hidden;
}

.menu__box-logo {
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}

.menu__box-nav {
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo__img {
  height: 34px;
  border-radius: 50%;
  opacity: 80%;
}

.link {
  color: #c0c0c0;
}

.logo {
  transition: all ease 0.2s;
}
.logo:hover {
  text-shadow: 0px 0px 12px #E7DE54, 0px 0px 8px #E7DE54, 0px 0px 4px #E7DE54;
  filter: blur(0.25px);
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 10px;
  transition: all ease 0.2s;
}

.nav__item:active {
  box-shadow: inset 5px 5px 9.6px #17090B, inset -1px -1px 8px #5C373C;
}

.nav__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all ease 0.2s;
}

.nav__link:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  box-shadow:0px 0px 12px #E7DE54, 0px 0px 8px #E7DE54, 0px 0px 4px #E7DE54;
  filter: blur(2px);
  border-radius: 1px;
  opacity: 0;
  transition: all ease 0.2s;
}

.nav__item:hover .nav__link:before{
  opacity: 1;
}

.nav__item:hover .nav__link {
  text-shadow: 0px 0px 12px #E7DE54, 0px 0px 8px #E7DE54, 0px 0px 4px #E7DE54;
  filter: blur(0.25px);
}

.nav__item:active .nav__link {
  text-shadow: none;
  color: #E7DE54;
}

.nav__item:active .nav__link:before{
  opacity: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 162px;
}

.profile__box {
  flex: 0 1 40%;
  height: 648px;
  background: linear-gradient(166deg, rgba(60, 67, 72, 0.46) 6%, rgba(28, 30, 33, 0.46) 76%);
  box-shadow: 5.5px 7.5px 13px rgba(0, 0, 0, 0.25), -5.5px -7.5px 12px rgba(255, 255, 255, 0.1), 1.3px 0.7px 2px rgba(255, 255, 255, 0.1), inset 0px -2px 2px rgba(0, 0, 0, 0.13), inset 0px 0.7px 2px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.profile__photo-box {
  width: 100%;
  background: linear-gradient(166deg, rgba(60, 67, 72, 0.46) 6%, rgba(28, 30, 33, 0.46) 76%);
  box-shadow: 5.5px 7.5px 13px rgba(0, 0, 0, 0.25), -5.5px -7.5px 12px rgba(255, 255, 255, 0.1), 1.3px 0.7px 2px rgba(255, 255, 255, 0.1), inset 0px -2px 2px rgba(0, 0, 0, 0.13), inset 0px 0.7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 22px;
}

.profile__photo {
  width: 100%;
  border-radius: 100%;
  opacity: 0.9;
}

.profile__name-box {
  position: relative;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 94px 0;
}

.name__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #F2F2F2 0%, #B3B090 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 80px;
}

.name__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  background: linear-gradient(90.12deg, #11A8FD 0.18%, #0674bc 99.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name__subtitle-line {
  width: 70%;
  height: 6px;
  align-self: flex-end;
  background: linear-gradient(90.12deg, #11A8FD 0.18%, #0674BC 99.98%);
}

.column {
  display: flex;
  justify-content: space-between;
}

.column__left {
  flex: 0 1 40%;
  background: linear-gradient(-14deg, rgba(60, 67, 72, 0.46) 6%, rgba(28, 30, 33, 0.46) 76%);
  box-shadow: 5.5px 7.5px 13px rgba(0, 0, 0, 0.25), -5.5px 0px 12px rgba(255, 255, 255, 0.1), 1.3px 0.7px 2px rgba(255, 255, 255, 0.1), inset 0px -2px 2px rgba(0, 0, 0, 0.13), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 0px 20px;
}

.column__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.column__box {
  background: linear-gradient(180deg, rgba(13, 5, 5, 0.7) 0%, rgba(255, 217, 217, 0.3) 100%) padding-box, linear-gradient(180deg, rgba(255, 228, 228, 0.4) 0%, rgba(13, 5, 5, 0.1) 100%) border-box;
  box-shadow: 0px -1px 0px 0px rgb(255 228 228 / 40%);
  border: 1px solid transparent;
  backdrop-filter: blur(31.5px);
  border-radius: 10px;
  padding: 10px 20px;
}

.title-box {
  width: 100%;
  align-self: center;
  text-align: center;
  margin-bottom: 32px;
  padding: 5px 30px;
  transition: all ease 0.5s;
}

.title-box:target {
  transform: translateX(25%);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  text-align: end;
}

.subtitle-box {
  width: 80%;
  align-self: flex-end;
  text-align: end;
  margin-bottom: 16px;
}

.subtitle-box-second {
  margin-top: 16px;
}

.content__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #f2f2f2;
}

.content__subtitle {

}

.content__list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-column {
  position: relative;
  top: -80px;
  flex: 0 1 50%;
}

.title-box-right {
  width: 60%;
  align-self: flex-start;
  margin: 0;
}

.title-box-right:target {
  transform: translateX(-25%);
  border-radius: 10px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  text-align: start;
}

.right-column__content {
  background: #292021;
  box-shadow: -5.5px -7.5px 12px rgba(255, 255, 255, 0.05), inset 11px 11px 22px rgba(0, 0, 0, 0.2), inset -4px -4px 22px rgba(255, 255, 255, 0.25);
  border-radius: 0px 25px 25px 25px;
  padding: 48px;
}

.contact__link {
  color: #c0c0c0;
}

.subtitle {
  font-size: 26px;
  font-weight: 700;
}

.footer {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(31px);
  box-shadow: -4px -3px 11px -6px rgb(255, 255, 255, 0.5), inset 1px 1.8px 2px rgba(0, 0, 0, 0.1), inset 1px 1.8px 2px rgba(255, 255, 255, 0.3), inset 0 0 20px rgba(0, 0, 0, 0.13);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 30px 0;
}

.footer__text{
  font-size: 14px;
}

.githab {
  display: block;
}

.logo-githab {
  text-align: center;
  background: url(../assets/svg/github.svg) no-repeat left center;
  padding: 5px 0 5px 35px;
  color: #c0c0c0;
}

.logo-rss {
  width: 86px;
}